.DS_store
target/
/.registry/oci/*
*.iml
.vertx/
/node_modules/
/product/node_modules/
/product/**/node_modules/
/product/**/dist/
/product/**/.vscode-test/
/product/release/
/product/testResults.xml
/product/deploy/.env
!/product/github-action/dist/
!/product/github-action/dist/index.cjs
dependency-reduced-pom.xml
.idea
**/.vscode
